<div class="container">
	<div class="row"> 
		<div class="col-xs-12">
			<center>
				<img src="https://s3.amazonaws.com/roundview4/static_assets/loading_gif.gif" class="img-responsive"> 
				<h3> <%= "Logging in #{@user.email}" if @user %> </h3>
			</center>
		</div>
	</div>
</div>