<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <br/>
      <center> <a href="/users/auth/facebook"><img src="https://s3.amazonaws.com/roundview4/images/facebook-login-button.png"></a></center>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <hr/>
      <h4 class="text-center">OR</h4>
      <h2 class="text-center roundview-text">Sign in with your Roundview info</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
  	<div class="form-group">
  		<%= f.label :email, autofocus: true, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.email_field(:email, class: "form-control", placeholder: "Email") %>
    		</div>
    	</div>
  	<div class="form-group">
  		<%= f.label :password, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.password_field(:password, autocomplete: "off", class: "form-control", placeholder: "Password") %>
    		</div>
    	</div>
    	<div class="form-group">
    		<% if devise_mapping.rememberable? -%>
    			<%= f.label :remember_me, nil, class: "col-sm-2 control-label" %>
    			<div class="col-sm-6"> 
    				<%= f.check_box :remember_me %>
    			</div>
  	  	<% end -%>
    	</div>
    	<div class="form-group">
  	    <div class="col-sm-offset-2 col-sm-6">
  	    	<%= f.submit "Sign in" , class: "btn btn-primary" %>
  	    </div>
    	</div>
      <div class="col-sm-offset-2 col-sm-6">
        <p class="help-block"> <%= link_to("Forgot password?", new_user_password_path) %> </p>
      </div>
  <% end %>	
</div>
