<div class="alert alert-warning" role="alert" ng-show="current_user.id === show_user.id">
  This is your profile -- you have ALL of the articles in common with yourself, so just check out your <a ui-sref="profile.reading_archive({userId: current_user.id})">reading archive</a>!
</div>

<div class="alert alert-warning" role="alert" ng-show="totalCommonArticles < 1 && current_user.id != show_user.id">
    It looks like you haven't yet read any of the same articles as {{show_user.first_name}}. Check out some <a ui-sref="discover">other users</a> in the meantime!
</div>

<div ng-hide="current_user.id === show_user.id || totalCommonArticles < 1">
  <div class="row"> 
    <div class="col-sm-6 col-xs-12">
      <pagination ng-show="totalCommonArticles > articlesPerPage" total-items="totalCommonArticles" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="articlesPerPage" ng-click="commonArticlesPageChanged(sortOrder, currentPage)"></pagination>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h4 id="topic-selector"> 
        {{totalCommonArticles}} articles
      </h4>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h4 id="topic-selector"> Sort by:  <select ng-model="sortOrder" ng-options="topic for topic in sortOptions" ng-change="commonArticlesPageChanged(sortOrder, 1)"></select></h4>
    </div>
  </div> 
  <div class="row">  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default" data-ng-repeat="article in common_articles">
        <div class="panel-heading panel-heading-white"> 
          <div class="row">
            <div class="col-xs-12 col-lg-8"> 
              <h4> <a ng-href="{{article.url}}" target="_blank" ng-click="articleLinkClicked(article)"> {{article.title}}</a>
                 
              </h4>
            </div>
            <div class="col-xs-12 col-lg-4"> 
              <h4>
                <button class="btn btn-link pull-right panel-heading-button">
                  <span ng-class="article.favorite ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'" ng-click="clickFavorite(article)" title="Favorite"></span> 
                </button>
                <div class="btn-group pull-right" dropdown>
                  <button type="button" class="btn btn-link btn-sm dropdown-toggle panel-heading-button" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-share-alt"></span> Share
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href ng-click="openShareModal(article)">Send to friend</a></li>
                    <li><a href ng-click="shareTwitter(article)"> Twitter </a> </li>
                    <li><a href facebook data-name="{{article.title}}" data-url="{{article.url}}" data-picture-url="{{article.cover_image_url}}">Facebook</a></li>
                  </ul>
                </div> 
              </h4>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="media">
            <a ng-href="{{article.url}}" target="_blank" ng-click="articleLinkClicked(article)">
              <img class="media-object feed-image pull-left" ng-src="{{article.cover_image_url}}" ng-show="article.cover_image_url">
            </a>
             <div class="media-body">
               <p>{{article.domain}}  </p>
               <p> {{article.excerpt}} </p>
             </div>
           </div> 
        </div>
        <div class="panel-footer" ng-show="article.topic_tags.length > 0">
          <div data-ng-repeat="tag in article.topic_tags" class="small-padding-column btn-group">
            <button class="btn btn-roundview btn-xs"><a class="white-link" ui-sref="profile.common_articles({userId: show_user.id, topic_tag: tag})"> {{tag}} </a></button>
          </div>
        </div>
      </div>
      <pagination ng-show="totalCommonArticles > articlesPerPage" total-items="totalCommonArticles" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="articlesPerPage" ng-click="commonArticlesPageChanged(sortOrder, currentPage)"></pagination>
    </div>
  </div>
</div>