<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-offset-2">
			<p class="lead"> 
				Roundview integrates with apps you already love to help you get more out of your experience. Whether you’re archiving your reading with Pocket and Readability or tweeting out links that you've read, Roundview tracks it all.
			</p>
		</div>
	</div>
	<div class="row">
		<h3 class="text-center"> Connect these accounts: </h3>
	</div>	
	<div class="row " data-ng-repeat="provider in providers">
		<a ng-href="/users/auth/{{provider.url}}">

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 alert alert-warning" ng-show="!provider.authorized">
			 	<p>Add your {{provider.provider}} account </p>
			 	<p ng-show="provider.provider == 'Twitter'"><small>(We'll automatically add links that you tweet to your archive) </small></p>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4  alert alert-success" ng-show="provider.authorized && provider.token">
			 	{{provider.provider}} successfully connected
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4  alert alert-danger" ng-show="provider.authorized && !provider.token">
			 	There was an issue connecting your {{provider.provider}} account. Please click to try again! 
			</div>
		</a>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-show="provider.authorized && provider.token">
			<a href ng-click="deauthorizeProvider(provider.url)"> <button type="button" class="btn btn-danger btn-sm"> Disconnect {{provider.provider}} account </button>
		</div> 
	</div>
	<div class="row" ng-show="browserIsChrome"> 
		<a href ng-click="installExtension()">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 alert alert-warning" ng-show="!chromeExtensionInstalled">
				<p> Add the Roundview button to your browser </p>
			</div> 
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4  alert alert-success" ng-show="chromeExtensionInstalled">
				<p> Roundview button successfully installed! </p>
			</div>
		</a> 
	</div> 

		
	
	<div class="row"> 
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
			<a href="/"> <center><button class="btn btn-block btn-primary"> Done connecting </button> </center></a>
		</div>
	</div> 
</div> 