<div class="container">
	<div class="row"> 
		<div class="col-xs-12 col-lg-12"> 
			<h1> Discover other users</h1>		
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-12">
			<form class="form"> 
				<div class="form-group col-lg-4 no-padding">
				    <label class="sr-only"> Search </label> 
				    <input type="search" name="search_box" class="form-control" placeholder="Start typing to find a user" ng-model="query">  
				</div>
				<div class="col-lg-2">
		      		<button type="submit" class="btn btn-primary" ng-click="usersSearch(query)"> Search </button> 
		      	</div>
		    </form>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6" data-ng-repeat="user in users | orderBy: 'discover_score': true"> 
					<div class="panel panel-info"> 
						<div class="panel-heading">
						    <h3 class="panel-title"><a ui-sref="profile.summary({userId: user.id, timePeriod: 12})" class="image-container">  {{user.first_name}} {{user.last_name}}</a> <small ng-hide="user.claimed_profile">Unclaimed Profile </small></h3>
						</div>
						<div class="panel-body discover-card"> 

					  		<a ui-sref="profile.summary({userId: user.id, timePeriod: 12})" class="image-container thumbnail">  
						    	<img ng-src="{{user.avatar_url}}" ng-show="user.avatar_url" class="discover-user-image">
						 	</a>
						  	<div>
								<!-- <p> <strong>Articles in last 12 weeks: </strong> {{user.articles_last_12_weeks}}	</p> -->
								
						  	</div>
							
						</div>
					</div> <!-- .panel panel-default  -->
				</div> 
			</div>
			
		</div>
		<pagination ng-show="totalUsers > itemsPerPage" total-items="totalUsers" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged()" items-per-page="itemsPerPage"></pagination>
	</div>

</div>