<div class="modal-header">
    
</div>
<div class="modal-body loading-modal">
	<h3 class="modal-title text-center">Please wait while we update your most recent viewing history</h3>
	<img src="https://s3.amazonaws.com/roundview4/static_assets/loading_gif.gif" class="img-responsive center-block" />
    
</div>
<div class="modal-footer">
    
</div>