<div class="row">
  <div class="col-xs-12" >
    <h2 class="text-info"> 
    	  Summary of reading <span ng-show="page_topic_tag != 'All'">about {{page_topic_tag}}</span> over {{time_period_display[timePeriod]}} 
    </h2>
  </div>
</div>
<div class="row" id="stats-tables-row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4> Top Sources </h2>    

	<table class="table table-bordered table-striped">
		<tr>
			<th> Ranking </th>
			<th> Source </th>
			<th> Share of total </th> 
		</tr>
		<tr data-ng-repeat="domain_hash in top_domains | orderBy:'percent_share':true" ng-switch="show_user.show_topic_links">
			<td> {{$index + 1}} </td>
			<td ng-switch-when="true"> 
				<a ui-sref="profile.reading_archive({domain: domain_hash.domain, page: 1})">
					{{domain_hash.domain}}
              	</a>
            </td>
			<td ng-switch-when="false"> {{domain_hash.domain}} </td> 
			<td> {{domain_hash.percent_share | number:0}}% </td> 
		</tr>
	</table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4> Top Authors </h2>    

	<table class="table table-striped table-bordered">
		<tr>
			<th> Ranking </th>
			<th> Author </th>
			<th> Words read </th> 
		</tr>
		<tr data-ng-repeat="author_hash in top_authors | orderBy:'words':true" ng-switch="show_user.show_topic_links">
			<td> {{$index + 1}} </td>
			<td ng-switch-when="true"> 
				<a ui-sref="profile.reading_archive({author: author_hash.author, page: 1})">
					{{author_hash.author}}
              	</a>
            </td>
			<td ng-switch-when="false"> {{author_hash.author}} </td> 
			<td> {{author_hash.words | number}} </td> 
		</tr>
	</table>
  </div>
</div>
<div class="row"> 
	<highchart id="daily-stats-chart" config="articleChartConfig"></highchart>
</div>



