<div class="container">
    <div class="row">
      <div class="col-sm-3 profile-sidebar">
        <div class="row">
          <div class="col-sm-6">
            <img data-ng-src="{{show_user.profile_photo || ''}}" alt="" class="img-rounded img-responsive">
          </div>
        </div>
        
        <h3>{{show_user.first_name}}  {{show_user.last_name}} </h3>
        <p><small ng-hide="show_user.claimed_profile"><a href="/faqs#unclaimed_faq" target="_blank">Unclaimed Profile </a></small></p>
        
        <a href="/users/edit"><button class="btn btn-xs btn-default" ng-show="show_user.signed_in_user"> Edit profile</button></a>
        <div>
          <h4 ng-show="timePeriod == 12"> Last 12 weeks</h4>
          <h4 ng-show="timePeriod == 1"> Last week</h4>
          <h4 ng-show="timePeriod == 'All'"> All time</h4>
          <ul class="list-group">
            <li class="list-group-item list-group-item-default">Articles read: {{total_articles | number}} </li>
            <li class="list-group-item list-group-item-default">Weekly reading: {{weekly_average  / 15000| number:0}}h {{(weekly_average % 15000) / 250| number:0}}m</li>
          </ul>
          <button class="btn btn-primary btn-block" ng-show="page_topic_tag != 'All'" ng-click="switchProfileToTopic('All')"> 
            Show info for all topics 
          </button>  
          <h4 ng-show="top_topics.length > 0"> Most Read About Topics </h4>
          <ul class="list-group">
            <li class="list-group-item list-group-item-default" data-ng-repeat="topic_hash in top_topics | orderBy:'percent_share':true" ng-switch="show_user.show_topic_links"> 
              <span class="badge"> {{topic_hash.percent_share | number:0}}% </span>
              <a href ng-click="switchProfileToTopic(topic_hash.topic)" ng-switch-when="true">{{topic_hash.topic}}
              </a>
              <span ng-switch-when="false"> {{topic_hash.topic}} </span>
            </li>
          </ul>
        </div>
      </div> 
      <div class="col-sm-9 profile-tab" ng-show="show_user.signed_in_user && noConnectedAccounts"> 
        <div class="alert alert-warning" role="alert">It looks like you haven't authorized any services yet so we can't create a profile for you. <a ui-sref="connect_accounts">Click here </a> to connect and get started! </div>
      </div>

      <div class="col-sm-9 profile-tab" ng-show="!noConnectedAccounts || total_articles > 0">
        <div class="row"> 
          <div class="panel panel-default" ng-show="show_user.signed_in_user && articles_updating">

            <div class="panel-body">
              <h4> We are working through your reading: {{articlesProcessed}} out of {{articlesToProcess}} articles processed so far! </h4> 
               <progressbar class="progress-striped active" value="(articlesProcessed * 100) / articlesToProcess" max="100" type="info"><span>{{articlesProcessed  / articlesToProcess * 100 | number:0}}%</span></progressbar>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 top-buttons-padding">
            <div class="btn-group">
              <a ui-sref="profile.summary({topic_tag: page_topic_tag})" class="btn btn-primary" ng-class="{active: $state.is('profile.summary')}">Summary</a>
              <a ui-sref="profile.reading_archive({topic_tag: page_topic_tag, page: 1})" class="btn btn-primary" ng-class="{active: $state.is('profile.reading_archive')}" ng-show="show_user.signed_in_user || show_user.reading_archive_visible">Reading archive </a>
               <a ui-sref="profile.common_articles({topic_tag: page_topic_tag, page: 1})"  class="btn btn-primary" ng-show="!show_user.signed_in_user" ng-class="{active: $state.is('profile.common_articles')}">Articles in common </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 top-buttons-padding">
            <div class="btn-group pull-right-sm">
              <a ng-click="timePeriodChanged(1)" class="btn btn-primary" ng-class="{active: timePeriod == 1}">1 week</a>
              <a ng-click="timePeriodChanged(12)" class="btn btn-primary" ng-class="{active: timePeriod == 12}">12 weeks </a>
              <a ng-click="timePeriodChanged('All')"  class="btn btn-primary" ng-class="{active: timePeriod == 'All'}">All time</a>
            </div>
          </div>  
        </div>
        <span> <a href ng-click="goBack()"> &laquo; Back </a></span>
        <div ui-view ng-show="total_articles > 0"></div>
      </div>

      <div class="col-sm-9 profile-tab" ng-show="total_articles < 1 && !noConnectedAccounts">
        <div class="alert alert-warning" role="alert">
          No articles read over {{time_period_display[timePeriod]}} 
        </div>
      </div>
      
    </div>
</div>



