
<div class="row">
  <div class="col-xs-12" >
    <h2 class="text-info"> 
      Articles read <span ng-show="page_topic_tag != 'All'">about {{page_topic_tag}}</span> <span ng-show="page_author"> by {{page_author}} </span> <span ng-show="page_domain"> from {{page_domain}} </span> over {{time_period_display[timePeriod]}} 
    </h2>
  </div>
</div>

<div class="row"><!-- Show for signed-in user only  -->  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="no-margin" ng-show="show_user.signed_in_user && show_user.reading_archive_visible"> 
      <small >You can make this page visible only to you by editing your profile settings </small>
    </h3> 
    <h3 class="no-margin" ng-show="show_user.signed_in_user && !show_user.reading_archive_visible"> 
      <small>This page is private and only visible to you</small>
    </h3> 
  </div>
</div><!-- Show for signed-in user only  -->

<div class="row"> 

  <div class="col-sm-8 col-xs-12" ng-show="total_articles > itemsPerPage">
    <pagination  total-items="total_articles" ng-model="currentArticlePage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="articlePageChanged()" items-per-page="itemsPerPage"></pagination>
  </div>
</div> 
<div class="row">  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default" data-ng-repeat="article in articles">
      <div class="panel-heading panel-heading-white"> 
        <div class="row">
          <div class="col-xs-12 col-lg-8"> 
            <h4> <a ng-href="{{article.url}}" target="_blank" ng-click="articleLinkClicked(article)"> {{article.title}}</a>
               
            </h4>
          </div>
          <div class="col-xs-12 col-lg-4"> 
            <h4>
              <button class="btn btn-link pull-right panel-heading-button">
                <span ng-class="article.favorite ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'" ng-click="clickFavorite(article)" title="Favorite"></span> 
              </button>
              <div class="btn-group pull-right" dropdown>
                <button type="button" class="btn btn-link btn-sm dropdown-toggle panel-heading-button" ng-disabled="disabled">
                  <span class="glyphicon glyphicon-share-alt"></span> Share
                </button>
                <ul class="dropdown-menu">
                  <li><a href ng-click="openShareModal(article)">Send to friend</a></li>
                  <li><a href ng-click="shareTwitter(article)"> Twitter </a> </li>
                  <li><a href facebook data-name="{{article.title}}" data-url="{{article.url}}" data-picture-url="{{article.cover_image_url}}">Facebook</a></li>
                </ul>
              </div> 
              <span ng-show="!article.hidden" class="btn btn-link pull-right panel-heading-button" ng-click="markHidden(article)"> 
                Mark private
              </span> 
              <span ng-show="article.hidden" class="btn btn-link pull-right panel-heading-button" ng-click="markHidden(article)"> 
                Mark public
              </span>
            </h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
    	  <div class="media">
          <a ng-href="{{article.url}}" target="_blank" ng-click="articleLinkClicked(article)">
            <img class="media-object feed-image pull-left" ng-src="{{article.cover_image_url}}" ng-show="article.cover_image_url">
          </a>
           <div class="media-body">
             <p><small><span ng-show="article.domain"><a ui-sref="profile.reading_archive({domain: article.domain, page: 1})">{{article.domain}}</a> </span> <span ng-show="article.author"> by <a ui-sref="profile.reading_archive({author: article.author, page: 1})">{{article.author}}</a></span> <span class="pull-right" ng-show="article.word_count"> {{article.word_count}} words </span></small></p>
             <p> {{article.excerpt}} </p>
           </div>
         </div>	
      </div>
      <div class="panel-footer" ng-show="show_user.signed_in_user || article.topic_tags.length > 0">
        <div data-ng-repeat="tag in article.topic_tags" class="small-padding-column btn-group">
          <button class="btn btn-roundview btn-xs"><a class="white-link" ui-sref="profile.reading_archive({userId: show_user.id, topic_tag: tag, page: 1})"> {{tag}} </a></button>
          <button class="btn btn-roundview btn-xs" ng-show="show_user.signed_in_user"> <a href ng-click="deleteTag(article, tag)"><i class="glyphicon glyphicon-remove close-tag"></i></a> </button>
        </div>
        <div class="small-padding-column btn-group" ng-show="show_user.signed_in_user">
          <button class="btn btn-default btn-xs" ng-click="article.showTagInputBox = true" ng-hide="article.showTagInputBox"> Add topic tag </button>
          <form class="form-inline" ng-show="article.showTagInputBox">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Add topic tag"  ng-model="article.newTopicTag"> </input>
            </div>
            <button class="btn btn-link btn-xs" ng-click="addTopicTag(article)"> Save </button>
          </form>
        </div>
      </div>
    </div>
    <pagination ng-show="total_articles > itemsPerPage" total-items="total_articles" ng-model="currentArticlePage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="articlePageChanged()"></pagination>
  </div>
</div>
<div class="row" ng-show="show_user.signed_in_user"> <!-- Show for signed-in user only  -->
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
    <h3> 
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-warning dropdown-toggle" ng-disabled="disabled">
          Add missing article<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="article-add-dropdown">
          <li> <label> Add an article: </label> </li>
          <li><input type="url" name="add_article" class="form-control" placeholder="http://" ng-model="url" ng-click="$event.stopPropagation()"></li>
          <li><button class="btn btn-success" ng-click="addArticle(url)"> Save</button>  </li>
          
        </ul>
      </div>
    </h3>
  </div>
</div> <!-- Show for signed-in user only  -->

