<div class="modal-header">
   <h3 class="modal-title text-center">Send to Friend</h3>
</div>
<div class="modal-body">
	<div class="media">
	    <a ng-href="{{article.url}}" target="_blank">
	    	<img class="media-object feed-image pull-left" ng-src="{{article.cover_image_url}}" alt="..." ng-show="article.cover_image_url">
	 	</a>
	  	<div class="media-body">
	     	<h4 class="media-heading">
	     		<a ng-href="{{article.url}}" target="_blank">{{article.title}}</a>  
	     	</h4> 
	    	<p>{{article.domain}} </p>
	    	<p>{{article.excerpt}}</p>
	  	</div>
	</div>	
	<hr>
	<form name="shareForm">
		<div class="form-group">
			<label>Send to:</label> 
			<input type="text" class="form-control" placeholder="Enter email" ng-model="newShare.recipient" is-user-or-email> 
			<p class="help-block" ng-show="shareForm.$invalid">Please enter a valid email address</p>
		</div>
		<div class="form-group">
			<label> Message: </label> 
			<input type="text" data-ng-model="newShare.message" class="form-control" placeholder="Enter a message here">
		</div> 
		<button class="btn btn-default" data-ng-click="closeShareModal()"> Cancel</button>
		<button type="submit" class="btn btn-primary pull-right" data-ng-click="sendShare(newShare, article)" ng-disabled="shareForm.$invalid"> Send </button> 
	</form>

</div>
<div class="modal-footer">
    
</div>