<div class="container">
	<div class="row" ng-show="showResults">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <ng-pluralize count="total_users"
                 when="{'0': 'No users found',
                     'one': 'One user found',
                     'other': '{} users found'}">
			</ng-pluralize></h3> 
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<form class="form"> 
						<div class="form-group col-lg-4 no-padding">
						    <label class="sr-only"> Search </label> 
						    <input type="search" name="search_box" class="form-control" placeholder="Start typing to find a user" ng-model="query">  
						</div>
						<div class="col-lg-2">
				      		<button type="submit" class="btn btn-primary" ng-click="usersSearch(query)"> Search </button> 
				      	</div>
				    </form>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6" data-ng-repeat="user in userSearchResults"> 
					<div class="panel panel-info"> 
						<div class="panel-heading">
						    <h3 class="panel-title"><a ui-sref="profile.summary({userId: user.id, timePeriod: 12})" class="image-container">  {{user.first_name}} {{user.last_name}}</a></h3>
						</div>
						<div class="panel-body discover-card"> 
					  		<a ui-sref="profile.summary({userId: user.id, timePeriod: 12})" class="image-container thumbnail">  
						    	<img ng-src="{{user.avatar_url}}" ng-show="user.avatar_url" class="discover-user-image">
						 	</a>
						  	<div>
								<p> <strong>Total articles: </strong> {{user.reading_logs_count}}	</p>
								<p> <strong>Average weekly reading: </strong>{{user.weekly_average  / 15000| number:0}}h {{(user.weekly_average % 15000) / 250| number:0}}m</p>
								<p> <strong>Top reading topics: </strong></p>
								<ul> 
									<li data-ng-repeat="topic in user.top_three_topics"> {{topic}}</li>
								</ul>
						  	</div>
							
						</div>
					</div> <!-- .panel panel-default  -->
				</div> 
			</div>
		</div>
		<pagination ng-show="total_users > itemsPerPage" total-items="total_users" ng-model="currentResultsPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="resultsPageChanged()" items-per-page="itemsPerPage"></pagination>
	</div>
	<div class="row" ng-show="!showResults">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> No users found for "{{query}}"</h3>			
		</div>
	</div>
</div>
