<div class="container"> 
	<div class="row"> 
		<div class="col-xs-12">
			<h2 id="top-header" class="roundview-text"> Congratulations! You now have the Roundview Button installed on your browser. </h2> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-xs-12 col-lg-4 "> 
			<img class="img-responsive" src="https://s3.amazonaws.com/roundview4/images/extension_button.png"> 
			<h2 class="text-center"> Click When You Read </h2> 
			<p class="lead text-center">When you read an article in your browser, just hit the Roundview Button to save it to your profile. </p> 
			<br>
		</div>
		<div class="col-xs-12 col-lg-4"> 
			<img class="img-responsive" src="https://s3.amazonaws.com/roundview4/images/update_profile.png"> 
			<h2 class="text-center"> Check Your Profile </h2> 
			<p class="lead text-center"> We'll update your profile right away so you can see your reading progress.</p> 
			<br>
		</div>
		<div class="col-xs-12 col-lg-4"> 
			<img class="img-responsive" src="https://s3.amazonaws.com/roundview4/images/easy_as_pie.png"> 
			<h2 class="text-center"> Easy as pie! </h2> 
			<p class="lead text-center">Almost as delicious. </p> 
			<br>
		</div>
	</div>
	<div class="row"> 
		<div class="col-xs-12">
			<center> 
				<% if @user  %> 
					<p class="lead"> <a href="/#/users/<%=@user.id%>"> Go to your profile now </a></p> 
				<% else %> 
					<p class="lead"> <%=link_to("Sign in to see your profile now", new_user_session_path, method: "get")%></p> 
				<% end %>
			</center> 
		</div> 
	</div>
</div>
