<div class="container about-us"> 
	
	<div class="col-lg-offset-1"> 
		<h1 class="roundview-text founders-heading text-center"> Frequently Asked Questions </h1>
	</div>
	<br> 
	<div class="row top-faq">
		<div class="col-lg-8 col-lg-offset-2">
			<strong>What is Roundview?</strong>
			<p>Roundview is a service that helps users track and understand their online reading.</p> 
			</br>

			<strong> What can I track? </strong>
			<p> Today, you can track the articles that you are reading through popular applications like Pocket, Instapaper, and Readability. You can also add articles directly through our site, and we are working on a couple features to improve that process including browser extensions and mobile apps.  </p>
			</br> 
			
			<strong> Why is it only articles? </strong>
			<p> It isn't only articles - we will also include blog posts, long form pieces, etc. Whatever you are saving via these applications, we are tracking. Articles are just the beginning - we would eventually like to help you create an online profile for all the things that you are consuming and learning online. </p>  
			</br>
			
			<strong> I don't have any data. What gives?</strong>
			<p> You may not be archiving data after finishing an article in Pocket, but instead deleting. As we build out the functionality of Roundview, we hope to be able to deal with this, but for now - check 
				<%= link_to("this out for guidance on archiving vs. deleting", "http://help.getpocket.com/customer/portal/articles/483952-organizing-and-tagging-in-pocket-for-android", :target => '_blank') %>  (via Pocket).   </p>  
			</br>
			
			<strong> Are you officially associated with Pocket, Instapaper, or Readability?  </strong>
			<p> We are not. We leverage their open APIs to work with the data and analyze it in real-time, providing you with an up to date view on your reading and passions.  </p> 
			</br>
			
			<strong> <a name="unclaimed_faq"> </a> I see some big names have profiles but they say "Unclaimed Profile," what does that mean? </strong> 
			<p> We created Roundview profiles for some people who we thought might be interesting to see. We went through their public Twitter feeds and if they tweeted or retweeted a link to something, we assumed they read it and added it to their Roundview profile. It makes for an easy way to see what influencers are interested in! </p>
			</br>

			<strong> I found a profile on Roundview for me that I didn't create, can I claim it? </strong> 
			<p> Duh! We'd love to get you officially on our site. Just send Tim an email at <%= mail_to "tim@roundview.co", "(tim@roundview.co)", :target => '_blank' %>.</p>
			</br>

			<strong> I don't want others to see my data. What are the privacy options? </strong> 
			<p> We are sorry to hear that. As of right now, all of the data saved will be publicly available by default, but we give you an option of marking certain articles as “private”.  </p> 
			</br>
			
			<strong> Do you have an app?</strong> 
			<p> We do not. We know, we know. We're on it. We'll get one out there soon enough. </p> 
			</br>

			<strong> Can I track the things that I write, blog, tweet, etc?</strong> 
			<p> As of right now - no. However, we have every aspiration of plugging into a number of different APIs to allow for a more holistic picture of what you are doing and learning online. </p> 
			</br>

			<strong> I have some thoughts and feedback. Where can I send it?  </strong>
			<p>You can reach Tim <%= mail_to "tim@roundview.co", "tim@roundview.co", :target => '_blank' %> and Joe <%= mail_to "joe@roundview.co", "(joe@roundview.co)", :target => '_blank' %>. We would love to hear any and all thoughts. </p>
			</br>

		</div> 
	</div>
	<hr class="about-divider">
</div>