<meta name="robots" content="noindex">
<div class="container"> 
	<div class="col-sm-12">
		<h2> We're sorry to see you go! </h2> 
		<p class="lead"> It will take us a few minutes to remove all of your data, but your account will be cancelled within the hour. </p> 
	</div>
</div>
