<!-- Header --> 
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Your online reading profile</h1>
                    <h3>Roundview helps passionate readers track and share their reading habits.</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li> 
                          <a href="/users/auth/facebook">
                            <img src="https://s3.amazonaws.com/roundview4/images/facebook-sign-up-button.png">
                          </a>
                      </li>
                    </ul>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                          <%= link_to new_user_registration_path do %>
                            <button class="btn btn-default btn-lg"> <span class="network-name">Sign up with Email</span></button>
                          <% end %>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->


<!-- Page Content -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                  Track what you read
                </h2>
                <p class="lead">With just one click, connect Roundview to <a href="https://getpocket.com/">Pocket</a>, <a href="https://www.instapaper.com">Instapaper</a>, or <a href="https://www.readability.com/">Readability</a> to start tracking your reading habits. </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <center>
                    <img src="https://s3.amazonaws.com/roundview4/images/track-reading.png" class="img-responsive icon-center-padding">
                </center>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Show off your reading and interests</h2>
                  
                <p class="lead">
                  Build a real-time online profile that captures the topics you read about, your favorite authors and publications. Then, show it off to the world! 
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <center>
                    <img src="https://s3.amazonaws.com/roundview4/static_assets/macbook_profile.png" class="img-responsive icon-center-padding">
                </center>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">See what others are reading</h2>
                <p class="lead">Find out what your friends have been reading, what you have read in common, and start a conversation with them.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <center>
                    <img src="https://s3.amazonaws.com/roundview4/static_assets/browser-reading-archive.png" class="img-responsive icon-center-padding">
                </center>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="content-section-b" id="testimonials">

    <div class="container">

        <div class="row">
            <div class="col-lg-5"> 
                <center>
                    <img src="https://s3.amazonaws.com/roundview4/static_assets/gillian.jpg" class="img-circle"> 
                    <h3> Gillian M. </h3>
                </center>
                    <blockquote>
                        <p>
                            I love the way Roundview makes it easy to track and share what I'm reading - and most of all, I love being able to find common ground with friends and potential colleagues by discovering which articles we've both read.
                        </p>
                    </blockquote> 
                
            </div>
            <div class="col-lg-5 col-lg-offset-2"> 
                <center> 
                    <img src="https://s3.amazonaws.com/roundview4/static_assets/suneel.jpg" class="img-circle">
                    <h3> Suneel C.</h3>
                </center>
                    <blockquote class="blockquote-reverse">
                        <p>
                            I have always wanted to be a better, more informed reader. Roundview nudges me toward reading more consistently, and lets me see what my friends are reading.
                        </p>
                    </blockquote> 
                
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- Highlighted Blog Posts -->
<% if @blog_posts %>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <a href="http://blog.roundview.co"><h1 class="roundview-text text-center"> Recent Blog Posts from Roundview </h1></a>
            </div>
            <div class="row">
                <% @blog_posts.each do |post| %>
                    <div class="col-md-4">  
                        <h2><%= link_to(post['title'], post['URL'])%> </br><small> <%= post['date'] %> </small> </h2>
                        <p class="lead"><%= post['excerpt'] %></p>
                        <p><%=link_to("<button class='btn btn-roundview white-link'> Read more &raquo; </button>".html_safe, post['URL'], target: "_blank") %> </p>
                    </div>
                <% end %>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b --> 
<% end %>
