<div class="container"> 
	<p class="pull-right"> Effective Date: December 18, 2013 </p> 
	<div class="col-lg-10 col-lg-offset-1">
		<h1 class="text-center text-primary"> Roundview, Inc. Privacy Policy</h1>
		
		<p> 
			This Privacy Policy (“<strong>Policy</strong>”) describes how Roundview, Inc. (“<strong>Company</strong>” or “<strong>we</strong>” or “<strong>our</strong>” or “<strong>us</strong>”) treats information collected or provided in connection with an end user’s (“<strong>you</strong>” or “<strong>user</strong>”) use of Roundview’s website at www.roundview.co (the “<strong>Site</strong>”).  The site offers the ability to live interview with the Company in person or through video chat ("<strong>Interview</strong>") and release your interview results to potential employers (“<strong>Employers</strong>”) or improve your interview skills (the “<strong>Services</strong>”).
		</p>
		<p> 
			<strong>NOTE:</strong>  The Company does not knowingly collect information from children under 13.  If you are a parent and believe that your child under the age of 13 has used the Site and provided personally identifiable information to us through the Site, please contact us at <%= mail_to "contact@roundview.co", "contact@roundview.co", :target => '_blank' %> or the mailing address below and we will work to delete any such personally identifiable information.		
		</p>
		<h4> 1.	Effective Date; Changes. </h4>
		<p>
		  	This Policy applies to all information collected by or provided to us on and after the Effective Date.  When we make any material changes to this Policy, we will change the Effective Date above and will inform you by e-mail sent to the address associated with your Site account and/or through the Site the next time you login.  We will treat your continued use of the Site following such notice as your acceptance of the changes.  However, we will seek your affirmative consent prior to applying any material change to this Policy on how we use or disclose personally identifiable information to information we collected or received prior to the date of the change.
		</p>
		<h4> 2.	Third Parties. </h4> 
		<p> 
			We may offer through the Site functionality or Services through third parties, such as Youcanbook me.com and Google Docs (collectively “<strong>Third Parties</strong>”).  After your Interview, we may ask you several questions through Google Docs or another Third Party regarding your experience with the interviewer, your feelings about the Service, your professional goals and interest in specific opportunities, or other information to allow us to provide the functionality of our Services.  This Policy does not apply to information that you may provide to or that may be collected by Third Parties.  Information collected by Third Parties will be governed by such Third Party’s applicable privacy policy.  We encourage you to review the applicable Third Party privacy policy, and other terms and conditions before participating in the Services or using the Site.  You agree that we will not be responsible or liable for any loss or damage incurred in connection with our affiliation with such Third Parties, their activates on the Site and the sharing of your information with such Third Parties.
		</p>
		<h4> 3.	Collected Information </h4> 
		<p> 
			Our primary purpose in collecting personal information is to provide you with a safe, smooth, efficient and customized experience.  This allows us to provide recommendations and employers that likely meet your needs, and to customize our Services to make your experience better and easier.
		</p>
		<p>
			<em> 3.1	Information You Submit through the Site. </em>  When you request an interview through the Site, we collect the personally identifiable information you provide in the booking form.  This information includes your first and last name, e-mail address, college or university, graduation year, major, the types of jobs or companies you are interested in, referral information and any other information you insert in the comments.  You may choose not to provide the Site with certain information, but by doing so, you may not be able to take advantage of many of our features and functionality.  Once you give us your personal information, you are no longer anonymous to us.
		</p>
		<p>
			<em> 3.2	Information Collected When You Use the Site. </em> When you use the Site, we gather certain non-personally identifiable information from you, and this information can be associated with the personally identifiable information that you provide.  This includes usage information, such as information on when, how often and for how long you use the Site, and server log data such as a device’s IP address, MAC address and operating system version.  If you choose to provide it, this will also include crash log data consisting of status and debugging information for the Site.
		</p>
		<p>
			<em>3.3	Information Collected Through Interview or Email. </em> When you schedule a Google Hangout Interview through the Website, you are requesting that the Company contact you at your e-mail address and initiate an interview through Google Hangout.  As further described in our <%= link_to("Terms of Use", terms_path) %>, we may record and store in-person Interiews, video Interviews, and chat sessions, emails and events (such as group chat sessions) you participate in on the Site or with the Company.  We may use such Interview recordings for our internal business purposes, including without limitation for purposes of recruiting, dispute resolution and improving our Site and Services.  The Interview recording may be available to you and/or potential hiring partners to the recording for future viewing through the Site.  We will not publish any part of the Interview recording for viewing by the general public without your consent.
		</p>
		<h4> 4.	Conditions Under Which We Use & Disclose Information </h4> 
		<p> 
			We internally use the information we maintain about you as follows:
			<ul>
				<li>
					We will use submitted information for the purposes for which you provided the information, such as to contact you for an interview or other functionality of the Site or Services.
				</li>
				<li>
					We may use submitted information and collected information to personalize the content (including advertising) that you and others see based on personal characteristics or preferences.
				</li>
				<li>
					We may analyze collected information relating to your use of the Site in order to help us improve the Site and develop and improve other products and our Services.
				</li>
				<li>
					We may use submitted information and collected information to help troubleshoot problems, provide you with required notices, enforce our Terms of Use (for example, when necessary to protect our or a third party’s intellectual property or proprietary rights), or to alert you to changes in our policies or agreements that may affect your use of the Site.
				</li>
			</ul>
			We use and disclose the information we maintain about you as follows: 
			<ul> 
				<li>
					In order to provide the Service, we may disclose personally identifiable information to Employers in furtherance of our business arrangements with them, including without limitation to jointly offer a job opportunity to you or create interoperability between your professional interests and the needs of such Employers.
				</li>
				<li>
					We may provide advertisers and other third parties with aggregated, non-identifiable information about our user base and its usage patterns.
				</li>
				<li>
					The Company may use contractors and third party service providers to provide the Site to our users.  When our contractors or service provider obtain access to your information, they are required to protect this information in a manner that is consistent with this Policy by, for example, not using the information for any purpose other than to carry out the services they are performing for Company.
				</li>
			</ul>
		</p>
		<h4>5.	Deleting Your Information. </h4> 
		<p>
			You may at any time request that we delete from our servers all of your personally identifiable information contained on our servers or on the Site.  Such requests will be honored within a reasonable time period after they have been received provided that you give us all reasonably necessary information and cooperation.  Certain data may continue to be stored in our backup systems until regularly scheduled deletions occur.
		</p>
		<h4>6.	Choices Regarding Third Party Offers. </h4>
		<p>
			To the extent we send you commercial e-mails regarding third party marketing or promotional materials, we will give you the ability to opt-out of receiving such e-mails in accordance with applicable law.  We will not provide your personally identifiable information to third parties for their own marketing purposes without your consent.
		</p>
		<h4>7.	Security. </h4> 
		<p>
			The personally identifiable information we collect about you is stored in limited access servers.  We will maintain reasonable safeguards to protect the security of these servers and your personally identifiable information.  However, no security measures are 100% effective and we cannot guarantee the security of your personally identifiable information.  
		</p>
		<h4> 8.	Transfer As Corporate Asset. </h4> 
		<p>
			In the event of a merger, sale of capital stock or assets, reorganization, consolidation or similar transaction involving Company, the information we possess (including personally identifiable information) shall be transferred as a corporate asset to the acquiring entity, provided that such entity will continue to handle such information in accordance with this Policy.
		</p> 
		<h4> 9.	Transfer to the U.S. or other Countries. </h4>  
		<p>
			The Company is established in and uses facilities in the United States.  Your information will be stored and processed in the United States or other countries where Company has facilities.  By using the Site, you consent to the transfer of information outside of your country, even if your country has more rigorous data protection standards.
		</p>
		<h4> 10.	Legal Disclaimer.  </h4>
		<p>
			We reserve the right to disclose your personally identifiable information or any other information as required by law and when we believe that disclosure is necessary to protect our rights or the rights of a third party; to comply with a judicial proceeding, court order, or legal process served on us or the Site; or in connection with an actual or proposed merger, acquisition or other corporate transaction or insolvency proceeding involving all or part of the business or asset to which the information pertains.
		</p>
		<h4> 11.	Contacting Us. </h4> 
		<p>
			If you have any questions about this Policy, please contact us at <%= mail_to "contact@roundview.co", "contact@roundview.co", :target => '_blank' %> or at 140 Hope St #2A, Brooklyn, NY 11211.
		</p>
	</div>
</div>