<div class="container"> 
	<div class="col-lg-10 col-lg-offset-1">
		<h1 class="text-center text-primary"> Roundview, Inc. Terms of Use</h1>
		<p> 
			Welcome to the Roundview, Inc. (“<strong>Company</strong>”) website at www.roundview.co (the “<strong>Site</strong>”).  These Terms of Use (this “<strong>Agreement</strong>”) apply to those who visit and use the Site (collectively or individually “<strong>Users</strong>”).
		</p> 
		<p class="lead">
			BEFORE VIEWING, BROWSING OR OTHERWISE USING THE SITE, PLEASE READ THIS AGREEMENT CAREFULLY.  BY VIEWING, BROWSING OR OTHERWISE USING THE SITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS AGREEMENT.  IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, THEN PLEASE DO NOT VIEW, BROWSE OR OTHERWISE USE THE SITE.
		</p> 
		<p> 
			<strong>NOTE TO KIDS UNDER 13 YEARS OF AGE:</strong>  THE SITE IS NOT FOR PERSONS UNDER THE AGE OF 13.  If you are under 13 years of age, then please do not use the Site.  Talk to your parents about what websites are appropriate for you. 
		</p>
		<p>
			<strong> 1.  Privacy Policy. </strong> The Company’s Privacy Policy, found at <%= link_to("www.roundview.co/privacy", privacy_path) %> is hereby incorporated into this Agreement.  Please read this policy carefully for details relating to the collection, use, and disclosure of your personal information.
		</p>
		<p>
			<strong>2.	Individual Features and Services. </strong> When using the Site, you will be subject to any additional posted guidelines or rules applicable to specific services, offers and features which may be posted from time to time (the “<strong>Guidelines</strong>”).  All such Guidelines are hereby incorporated by reference into this Agreement.  Please note that additional and/or different conditions and terms of use may apply to media, contests, competitions, or services provided through one or more of our partners or business associates, and you should refer to those before using such services.
		</p>
		<p>
			<strong>3.	Modification.</strong>  We reserve the right, at our discretion, to change, modify, add, or remove portions of this Agreement at any time.
		</p>
		<p>
			<strong>4.	Ownership; Proprietary Rights.</strong>  The Site is owned and operated by the Company.  The content, visual interfaces, information, graphics, design, compilation, computer code, products, software, services, and all other elements of the Site that are provided by Company (“<strong>Company Materials</strong>”) are protected by United States copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws.  All Company Materials contained on the Site are the copyrighted property of Company or its subsidiaries or affiliated companies and/or third party licensors.  All trademarks, service marks, and trade names are proprietary to Company or its affiliates and/or third party licensors.  Except as expressly authorized by Company, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of the Company Materials.
		</p>
		<p><strong>5.	Prohibited Uses. </strong></p>
		<p>
			5.1	As a condition of your use of the Site, you will not use the Site for any purpose that is unlawful or prohibited by this Agreement.  Access to the Company Materials and the Site from territories where their contents are illegal is strictly prohibited.  Company Users are responsible for complying with all local rules, laws, and regulations including, without limitation, rules about intellectual property rights, the internet, technology, data, email, or privacy.
		</p>
		<p>
			5.2	Any use by User of any of the Company Materials other than for private, non-commercial use is strictly prohibited.
		</p>
		<p>
			5.3	You may not use the Site in any manner that in our sole discretion could damage, disable, overburden, or impair it or interfere with any other party’s use of the Site.  You may not intentionally interfere with or damage the operation of the Site or any User’s enjoyment of it, by any means, including uploading or otherwise disseminating viruses, worms, or other malicious code.  You may not remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Site, features that prevent or restrict the use or copying of any content accessible through the Site, or features that enforce limitations on the use of the Site.  You may not attempt to gain unauthorized access to the Site, or any part of it, other accounts, computer systems or networks connected to the Site, or any part of it, through hacking, password mining or any other means or interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site.  You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Site.  You agree neither to modify the Site in any manner or form, nor to use modified versions of the Site, including (without limitation) for the purpose of obtaining unauthorized access to the Site.
		</p>
		<p>
			5.4	The Site may contain robot exclusion headers.  You agree that you will not use any robot, spider, scraper, crawler or other automated means to access the Site for any purpose without our express written permission or bypass our robot exclusion headers or other measures we may use to prevent or restrict access to the Site.
		</p>
		<p>
			5.5	You may not utilize framing techniques to enclose any trademark, logo, or other Company Materials without our express written consent.  You may not use any meta tags or any other “hidden text” utilizing Company’s name or trademarks without our express written consent.
		</p>
		<p>
			5.6	You may not deep-link to the Site and will promptly remove any links that Company finds objectionable in its sole discretion.  You may not use any Company logos, graphics, or trademarks as part of the link without our express written consent.
		</p>
		<p>
			5.7	You may not send junk mail to other Users, including, but not limited to unsolicited advertising, promotional materials or other solicitation material, bulk mailing of commercial advertising, chain mail, informational announcements, charity requests, and petitions for signatures.
		</p>
		<p>
			<strong>6.	Information. </strong> You agree that any information you provide to Company in connection with the Site will be true, accurate, current, and complete.
		</p>
		<p> 
			<strong>7.	User Communications. </strong> Under this Agreement, you consent to receive communications from Company electronically.  We will communicate with you by email or by posting notices on the Site.  You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
		</p>
		<p>
			<strong>8.	Availability of Service. </strong> Company may make changes to or discontinue any of the media, contests, products, or services available within the Site at any time, and without notice.  The media, products, or services on the Site may be out of date, and Company makes no commitment to update these materials on the Site.
		</p>
		<p>
			<strong> 9.	Notice. </strong> Except as explicitly stated otherwise, legal notices shall be served on Company’s national registered agent or to the email address you provide to Company during the registration process.  Notice shall be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid.  Alternatively, we may give you legal notice by mail to the address provided during the registration or purchase process.  In such case, notice shall be deemed given three days after the date of mailing.
		</p>
		<p>
			<strong>10.	Violations; Termination. </strong>  You agree that Company, in its sole discretion and for any or no reason, may terminate any member or customer account (or any part thereof) you may have at the Site or your use of the Site, at any time.  Company may also in its sole discretion and at any time discontinue providing access to the Site, or any part thereof, with or without notice.  You agree that any termination of your access to the Site or any account you may have or portion thereof may be effected without prior notice, and you agree that Company shall not be liable to you or any third party for any such termination.  Company does not permit copyright infringing activities on the Site, and reserves the right to terminate access to the Site, and remove all content submitted, by any persons who are found to be repeat infringers.  Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of your use of the Site may be referred to appropriate law enforcement authorities.  These remedies are in addition to any other remedies Company may have at law or in equity.
		</p>
		<p>
			<strong>11.	Disclaimers; No Warranties. </strong> THE SITE AND ANY THIRD PARTY, MEDIA, SOFTWARE, SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED.  TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, COMPANY, AND ITS SUPPLIERS AND PARTNERS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.
		</p>
		<p>
			COMPANY, AND ITS SUPPLIERS AND PARTNERS, DO NOT WARRANT THAT THE FEATURES CONTAINED IN THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
		</p>
		<p>
			COMPANY, AND ITS SUPPLIERS AND PARTNERS, DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE IN TERMS OF IT CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.  YOU (AND NOT COMPANY NOR ITS SUPPLIERS AND PARTNERS) ASSUME THE ENTIRE COST OF ANY NECESSARY SERVICING, REPAIR, OR CORRECTION.  YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD, OR OTHERWISE OBTAIN MEDIA, MATERIAL, OR OTHER DATA THROUGH THE USE OF THE SITE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH MATERIAL OR DATA.
		</p>
		<p>
			CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.  IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
		</p>
		<p>
			<strong>12.	Indemnification; Hold Harmless.</strong>  You agree to indemnify and hold Company, and its affiliated companies, and its suppliers and partners, harmless from any claims, losses, damages, liabilities, including attorney’s fees, arising out of your use or misuse of the Site, violation of this Agreement, violation of the rights of any other person or entity, or any breach of the foregoing representations, warranties, and covenants.  Company reserves the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.
		</p>
		<p>
			<strong>13.	Limitation of Liability and Damages. </strong> UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL COMPANY OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS, BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES THAT RESULT FROM YOUR USE OR THE INABILITY TO USE THE COMPANY MATERIALS ON THE SITE, THE SITE ITSELF, OR ANY OTHER INTERACTIONS WITH COMPANY, EVEN IF COMPANY OR A COMPANY AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.  IN SUCH CASES, COMPANY’S LIABILITY WILL BE LIMITED TO THE EXTENT PERMITTED BY LAW.
		</p>
		<p>
			IN NO EVENT SHALL COMPANY’S OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS’ TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SITE (WHETHER IN CONTRACT, TORT, WARRANTY, OR OTHERWISE) EXCEED FIVE (5) U.S. DOLLARS.
		</p>
		<p>
			THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF ANY PRODUCTS OR SERVICES SOLD OR PROVIDED TO YOU BY THIRD PARTIES OTHER THAN COMPANY AND RECEIVED BY YOU THROUGH OR ADVERTISED ON THE SITE OR RECEIVED BY YOU THROUGH ANY LINKS PROVIDED ON THE SITE.
		</p>
		<p><strong>14.	Miscellaneous. </strong></p>
		<p>
			<strong>14.1	Governing Law. </strong> This Agreement shall be governed by and construed in accordance with the laws of the State of New York, without giving effect to any principles of conflicts of law.
		</p>
		<p>
			<strong>14.2	Jurisdiction. </strong> You agree that any action at law or in equity arising out of or relating to this Agreement or the Site shall be filed only in the state or federal courts in and for New York City, New York and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.
		</p>
		<p>
			<strong>14.3	Waiver. </strong> A provision of this Agreement may be waived only by a written instrument executed by the party entitled to the benefit of such provision.  The failure of any party at any time to require performance of any provision of this Agreement shall in no manner affect such party’s right at a later time to enforce the same.  A waiver of any breach of any provision of this Agreement shall not be construed as a continuing waiver of other breaches of the same or other provisions of this Agreement.
		</p>
		<p>
			<strong>14.4	Severability.</strong>  If any provision of this Agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this Agreement and shall not affect the validity and enforceability of any remaining provisions.
		</p>
		<p>
			<strong>14.5	Assignment. </strong> This Agreement and related Guidelines, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Company without restriction.
		</p>
		<p>
			<strong>14.6	Headings. </strong> The heading references herein are for convenience purposes only, do not constitute a part of this Agreement, and shall not be deemed to limit or affect any of the provisions hereof.
		</p>
		<p>
			<strong>14.7	Entire Agreement. </strong> This is the entire agreement between us relating to the subject matter herein and shall not be modified except in a writing, signed by both parties, or by a change to this Agreement or Guidelines made by Company as set forth in Section 3 above.
		</p>
		<p>
			<strong>
				14.8	Claims.  YOU AND COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE SITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES.  OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
			</strong>
		</p>
		<p>
			<strong>14.9	Disclosures. </strong> The Site is operated by Roundview, Inc., located at 140 Hope St #2A, Brooklyn, NY 11211, email: <%= mail_to "contact@roundview.co", "contact@roundview.co", :target => '_blank' %>, telephone: 1-520-907-5743.
		</p>
	</div>
</div>