<h1> Hey Tim & Joe, </h1> 

<p> <%= "#{@user.first_name} #{@user.last_name}" %>  just deleted their account.</p> 
<p> <%= "#{@user.first_name} had #{@articles.size} articles tracked" %></p>

<p>Sad face,</p>
<p>The Roundview Database</p>