Hey there,
<p>I just got a notice that you deleted your account. Since we are still in beta, we really want to understand why you deleted your account. I'd really appreciate even a one-line response telling me what happened or what you didn't like. We're committed to making Roundview the best possible experience and getting your constructive feedback would really help us!</p>

<p>Thanks!</p>
<p>Joe</p>
Co-founder, Roundview
