Hey there, my name is Joe and I'm one of the founders of Roundview. I saw that you signed up and since we just launched in beta we’re trying to talk to every single person who signs up. Any chance you’d be willing to hop on the phone / skype with me for 10 minutes in the next couple of days to tell us what you think? Email is totally fine too, we really want to learn what got you to sign up and what we can do to make Roundview better and useful to you.
<br> 
<p>Let me know! </p>
Joe