<h1> Test</h1>
<table> 
	<thead> 
		<tr> 
			<td> Starting week </td>
			<td> Weekly user growth </td> 
			<td> Weekly activated user growth </td> 
		</tr>
	</thead>
	<tbody>
		<% @weeks_for_overall_growth.each do |week| %> 
			<tr>
				<td><%= week %> </td> 
				<td><%= %> 
			</tr>
		<% end %> 
	</tbody> 
</table> 
<table>
	<thead>
		<tr>
			<td> Week number </td> 
			<td> Week start date </td> 
			<td> Total users </td> 
			<td> Activated users </td>
			<td> Total growth from previous week </td> 
			<td> Activated growth from previous week </td>
		</tr>
	</thead>
	<tbody>
		<% @output_hash[:list_of_weeks].reverse.each do |week| %> 
			<tr> 
				<td><%= week %>  </td> 
				<% @output_hash.each do |metric, weeks_hash| %> 
					<% unless weeks_hash.is_a? Array %> 

						<td> <%= metric.to_s.include?("growth") ? number_to_percentage(weeks_hash[week].to_f*100) : weeks_hash[week]%> </td> 
					<%end %> 
				<%end %>	
			</tr>
		<%end %>
	</tbody>

</table>