<div class="container">
<h2>Change your password</h2>
<p class="lead"> Please choose a new password. It must be at least 8 characters in length. </p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  	<div class="form-group">
	  	<%= f.label :password, "New password" %>
	    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
	</div>

  <div class="form-group"><%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

  <div><%= f.submit "Change my password", class: "btn btn-primary form-control" %></div>
<% end %>
</div>