<div class="container">
  <h2>Forgot your password?</h2>


  <%= form_for(resource, as: resource_name, url: password_path(resource_name),  :html => { class: "form-horizontal", method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <p class="lead"> Enter your email below and we'll send you an email with instructions for resetting your password </p>
  	<div class="form-group">
  		<div class="col-sm-12 col-lg-6"> 
    			<%= f.email_field(:email, class: "form-control", placeholder: "Email") %>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-12 col-lg-6"> 
    			<%= f.submit "Reset my password" , class: "btn btn-primary form-control" %>
    		</div>
    	</div>
  <% end %>
</div>