/* ABOUT US Page
-------------------------------------------------- */

.about-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

.social-divider {
  margin-bottom: 10px;
  margin-top: 5px;
}

.bio-social {
  margin-bottom: -25px;
}

.founders-heading {
  font-size: 40px;
  margin-right: 140px;
}

// .top-profile {
//   margin-top: 50px;
// }
.bottom-profile {
  margin-bottom: 50px;
}
.top-faq {
  margin-top: 10px;
}
