 @import "../../../vendor/assets/stylesheets/bootstrap.scss"; 

/* UNIVERSAL COLOR STYLES DEFINED
-------------------------------------------------- */
$roundview-orange-primary: rgba(196,94,28,1) !default;
$roundview-orange-light: rgba(196,94,28,0.8) !default;
$roundview-orange-lightest: rgba(196,94,28,0.6) !default;
$roundview-grey-primary: rgba(85,80,78,1) !default;
$roundview-grey-light: rgba(85,80,78,0.8) !default;
$roundview-grey-lightest: rgba(85,80,78,0.6) !default;
$roundview-white: white !default;
$btn-grey-color: white !default;
$btn-grey-bg: $roundview-grey-light !default;
$btn-grey-border: $roundview-grey-primary !default;

.roundview-text {
  color: $roundview-orange-primary !important;
}

.icon-center-padding {
  padding-top: 15%
}

.modified-pagination {
  margin: 0;
}

@media (min-width: $screen-sm-min) {
    .pull-right-sm {
        float: right;
    }
}

.panel-roundview {
  @include panel-variant($roundview-orange-primary, $roundview-white, $roundview-orange-light, $roundview-orange-primary);
  border: 5px;
  border-color: $roundview-orange-primary !important;
}

#testimonials {
  background-color: $roundview-orange-light;
  color: white;
}
.top-buttons-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* DISCOVER STYLES
-------------------------------------------------- */
.discover-card {
  // min-height: 450px;
}

.image-container {
  overflow: hidden;
  max-height: 230px;
  min-height: 230px;
}

.discover-user-image {
  width: 100%;
}

.no-padding {
  padding-left: 0px;
}

/* FEED STYLES
-------------------------------------------------- */
.panel-footer {
  background-color: white !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-roundview {
  background-color: $roundview-orange-lightest;
  color: white !important;
}

.white-link {
  color: white;
}

.panel-heading-button {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.panel-heading-white {
  background-color: white !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-link:focus {
  outline: none;
}

.greyed {
  color: $text-muted;
}

.feed-image {
  width: 15%;
  height: auto;
  margin-right: 10px;
}

.feed-user-avatar {
  width: 5%;
  height: auto;
  margin-right: 10px; 
}

#article-add-dropdown {
  padding: 15px;
  width: 350px;
}

.no-margin {
  margin: 0px;
}

#topic-selector {
  margin-top: 20px;
}

.topic-inactive-button {
  pointer-events: none;
}

.close-tag {
  color: white;
}

.topic-label {
  background-color: white;
  color: $roundview-grey-primary !important;
}
.small-padding-column {
  padding: 2px !important;
  // padding-right: 5px !important;
}
// .topic-tag {
//   margin: 3px;
// }

/* NavBar styles
-------------------------------------------------- */
.navbar {
  background-color: white !important;
}

.navbar-logo {
  position: relative;
  height: $navbar-height;
  padding: $navbar-padding-vertical;
  // top: 20px;
  // width: 150px;
}

#sign-in-dropdown {
  padding: 15px;
  width: 350px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body > .container {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}


/* Sticky Footer Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Set up for UI-Angular-Bootstrap to work */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* LOADING MODAL CUSTOM CSS 
-------------------------------------------------- */
.loading-modal {
  margin-top: 200px;
  margin-bottom: 200px;
}

/* AUTHORIZATIONS CUSTOM CSS 
-------------------------------------------------- */

.instapaper-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Chrome Extension instructions CUSTOM CSS 
-------------------------------------------------- */
#top-header {
  margin-bottom: 40px;
}