
  <div class="row">
    <div class="col-xs-12"> 
      <center> <img src="https://s3.amazonaws.com/roundview4/images/instapaper_name.png" class="img-responsive instapaper-logo"> </center>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"> 
      <p class="lead"><center> Enter your Instapaper login information below to authorize Roundview to retrieve your reading history from Instapaper. </center></p>
    </div> 
  </div> 
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag({}, class: "form-horizontal") do %> 
        <div class="form-group">
          <%= label_tag(:login, "Instapaper email or username", class: "col-sm-3 control-label") %>
          <div class="col-sm-9">
            <%= text_field_tag(:login, nil,class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:password, "Password, if you have one.", class: "col-sm-3 control-label") %>
          <div class="col-sm-9">
            <%= password_field_tag(:password,nil ,class: "form-control") %>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <%= submit_tag("Submit", class: "btn btn-default") %>
        </div>
        
      <% end %>     
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-12"> 
    <div class="col-sm-offset-3 col-sm-9"> 
      <p> Note: <a href="https://www.instapaper.com/api">Instapaper's API</a> uses xAuth - we never store your secure login information and keep it protected by always using SSL (in layman's terms: we transmit it securely over the internet!) </p>
    </div>
    </div>
  </div> 
