<div id="footer">
      <div class="container">
		<p class="text-muted credit"><!--  <%#= link_to("Privacy", privacy_path)%> &middot; <%#= link_to("Terms of Use", terms_path)%> &middot; --> <%= link_to("Blog", "http://blog.roundview.co/") %> <span class="pull-right">&copy; <%= Time.now.year%> Roundview</span></p>
      </div>
</div>
