    <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="NavBarController">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             
            <a ui-sref="profile.summary({userId: current_user.id, timePeriod: 12})">  
              <img src="https://s3.amazonaws.com/roundview4/static_assets/Roundview_logo_full.svg" alt="Roundview Logo" class="navbar-logo"> 
            </a>
             
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <li> <a ui-sref="profile.summary({userId: current_user.id, timePeriod: 12})"> My Profile </a></li>
               <li> <a ui-sref="discover"> Discover </a> </li>
               <li> <a ui-sref="connect_accounts"> Connect APIs </a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li> <%= mail_to "contact@roundview.co", "Contact Us", :target => '_blank' %> </li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
            </ul>
            
            
          </div><!--/.nav-collapse -->
        </div>
      </div>  