<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(root_path) do %>
             <img src="https://s3.amazonaws.com/roundview4/static_assets/Roundview_logo_full.svg" alt="Roundview Logo" class="navbar-logo">
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to("Home", root_path) %></li>
            <li><%= link_to("Blog", "http://blog.roundview.co/") %> </li>
            <li><%= link_to("FAQs", faqs_path) %></li>
            <li> <%= mail_to "contact@roundview.co", "Contact Us", :target => '_blank' %> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if request.env['PATH_INFO'] != '/users/sign_up'%> 
              <li><%=link_to("Sign Up", new_user_registration_path, method: "get") %></li>
            <% end %> 
            <% if request.env['PATH_INFO'] == '/users/sign_up'%> 
              <li><%=link_to("Sign In", new_user_session_path, method: "get")%> </li>
            <% end %>
            <% if request.env['PATH_INFO'] == '/' || request.env['PATH_INFO'] == '/about' || request.env['PATH_INFO'] == '/alpha'%>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
              <div class="dropdown-menu" id="sign-in-dropdown">
                <center> <a href="/users/auth/facebook"> <img src="https://s3.amazonaws.com/roundview4/images/facebook-login-button.png"></a></center>
                <br/>
                <h4 class="text-center">OR</h4>
                  <%= form_tag(user_session_path, class: "form") do%>
                      <div class="form-group">
                        <%= label_tag :email %>
                        <%= email_field(:user, :email, class: "form-control", placeholder: "Email") %>
                      </div>
                      <div class="form-group">
                        <%= label_tag :password %>
                        <%= password_field(:user, :password, class: "form-control", placeholder: "Password") %>
                      </div>
                      <div class="form-group">
                        <%= label_tag :remember_me %> 
                        <%= check_box(:user, :remember_me, class: "checkbox") %> 
                      </div>
                      <%= submit_tag "Sign in" , class: "btn btn-success" %>
                      
                  <%end %>
                <p class="help-block"> <%= link_to("Forgot password?", new_user_password_path) %> </p>
                <br/>
                
              </div>
              
            </li>
            <%end %>
            <!-- / li .dropdown -->
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>