<div id="footer">
      <div class="container">
		<p class="text-muted credit"><!--  <%#= link_to("Privacy", privacy_path)%> &middot; <%#= link_to("Terms of Use", terms_path)%> &middot; --> <%= link_to("Blog", "http://blog.roundview.co/") %>  <span class="pull-right"><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a> &copy; <%= Time.now.year%> Roundview</span></p>

      </div>
</div>
