<!DOCTYPE html>
<html lang="en" data-ng-app="mediaAnalysis">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="https://s3.amazonaws.com/roundview4/static_assets/roundview_logo_16.png"/>  
		<title><%= content_for?(:title) ? yield(:title) : "Roundview Beta" %></title>
		<meta name="description" content="Reading, Quantified Self, Reading Profile, Data, Statistics, Stats">
    	<meta name="author" content="Roundview">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/baoichngodjibhnbdghdkhbjcmhkmfdc">
		<script type="text/javascript">
	      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
	      heap.load("1162175837");
	    </script>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", :media => "all" %>
	</head>

	<body>
		<%= render 'layouts/nav_bar_signed_in' %> 
		<div class="container">
			<div ui-view></div>
		</div> <!-- /container -->
		<%= javascript_include_tag "application" %>
	</body>
	<%= render 'layouts/footer' %>
	<script>
		if (document.location.hostname.search("roundview.co") !== -1) {
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46327528-2', 'auto');
		  ga('require', 'displayfeatures');
		}
	</script>
</html>