<!DOCTYPE html>
<html lang="en">
  <head>
  	<%= stylesheet_link_tag    "application", media: "all" %>
  
  	<%= csrf_meta_tags %>
  	<%= render 'layouts/shim' %>
    <meta name="google-site-verification" content="MOYPrPABXhpxSq6X_K0X7QQpXsFFR1o2R44uvszddM8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reading, Quantified Self, Reading Profile, Data, Statistics, Stats">
    <meta name="author" content="Roundview">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/roundview4/static_assets/roundview_logo_16.png"/>  
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/baoichngodjibhnbdghdkhbjcmhkmfdc">
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1162175837");
    </script>
    <title>Roundview: Your Online Reading Profile</title>
  </head>

  <body>

    <%= render 'layouts/nav_bar_signed_out' %>   
	
    <!-- Begin page content -->
    
    
    <%= yield %>
    

    
    
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
  <%= render 'layouts/public_footer' %>
  
  <script>
    if (document.location.hostname.search("roundview.co") !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46327528-2', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    }
  </script>
</html>
