<!DOCTYPE html>
<html lang="en">
  <head>
  	<%= stylesheet_link_tag    "application", media: "all" %>
  
  	<%= csrf_meta_tags %>
  	<%= render 'layouts/shim' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reading, Quantified Self, Reading Profile, Data, Statistics, Stats">
    <meta name="author" content="Roundview">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/roundview4/static_assets/roundview_logo_16.png"/>  
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/baoichngodjibhnbdghdkhbjcmhkmfdc">
    <title>Roundview Beta</title>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1162175837");
    </script>
  </head>

  <body>

        <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="NavBarController">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/#/users/<%=@user.id%>">
             <img src="https://s3.amazonaws.com/roundview4/static_assets/Roundview_logo_full.svg" alt="Roundview Logo" class="navbar-logo">
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <li> <a href="/#/users/<%=@user.id%>"> My Profile </a></li> 
               <li> <a href="/#/discover"> Discover </a> </li>
               <li> <a href="/#/connect_accounts"> Connect APIs </a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li> <%= mail_to "contact@roundview.co", "Contact Us", :target => '_blank' %> </li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
            </ul>
            <!-- <div class="navbar-form navbar-right pull-right"> -->
              
            <!-- </div> -->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            
          </div><!--/.nav-collapse -->
        </div>
      </div>  

    <!-- Begin page content -->
    
    <div class="container">
    	<%= yield %>
    </div>

    
    
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
  <%= render 'layouts/footer' %>
   <script>
    if (document.location.hostname.search("roundview.co") !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46327528-2', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    }
  </script>
</html>
