<div class="container">
  <% if flash[:email_duplicate] %> 
    <div class="row"> 
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <div class="alert alert-warning"> 
          <%= flash[:email_duplicate] %> 
        </div>
      </div>
    </div>
  <% end%> 
  <div class="row"> 
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="panel panel-roundview">
        <div class='panel-heading'> 
          <p>It looks like we're missing the most important thing: your email! </p>
        </div>
        <div class="panel-body">
          
          <p> We'll use your email to send you occasional updates to highlight all the awesome reading you've been doing.  </p>
          <%= form_for(@user, url: add_email_path, method: :patch, :html => { multipart: true}) do |f|%>
            <div class="form-group">
              <%= f.label :email, nil, class: "sr-only" %>
              <%= f.email_field(:email, class: "form-control", placeholder: "Enter Email") %>
            </div> 
            <div class="form-group"> 
        	   <%= f.submit "Save email" , class: "btn btn-primary btn-block" %>
           </div>
          <% end %>
          <div class="form-group">
            <%= button_to "Not now", '/#/connect_accounts', method: "get", class: "btn btn-default btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>