<div class="container">
  <h2 class="col-sm-offset-2">Edit your profile</h2>
  <% if @user.avatar.url %> 
          
  <% end %> 

  <%= form_for(@user, url: '/users', method: :patch, :html => { multipart: true, class: "form-horizontal"}) do |f|%>
    <%= devise_error_messages! %>
  	<div class="form-group">
  		<%= f.label :first_name, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.text_field(:first_name, class: "form-control", placeholder: "First name") %>
    		</div>
    	</div>
    	<div class="form-group">
  		<%= f.label :last_name, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.text_field(:last_name, class: "form-control", placeholder: "Last name") %>
    		</div>
    	</div>

  	<div class="form-group">
  		<%= f.label :email, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.email_field(:email, class: "form-control", placeholder: "Email") %>
    		</div>
    </div>
  	<div class="form-group">
  		<%= f.label :password, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.password_field(:password, class: "form-control", placeholder: "Password") %>

    		</div>
    </div>
    	<div class="form-group">
  		  <%= f.label "Confirm Password", nil, class: "col-sm-2 control-label" %>
  		  <div class="col-sm-6"> 
    			<%= f.password_field(:password_confirmation, class: "form-control", placeholder: "Password") %>
          <p class="help-block">Password must be at least 8 characters</p>
    		</div>
    	</div>
      <div class="form-group">
        <%= f.label "Reading Archive visible to others", class: "col-sm-2 control-label" %>
        <div class="col-sm-6"> 
          <%= f.check_box(:reading_archive_visible) %>
          <p class="help-block">When checked, other users can see your entire reading archive except those articles you have marked as private</p>
        </div>
      </div>
      <div class="form-group">
        <% if @user.avatar.url %> 
          <%= f.label "Change your profile photo", nil, class: "col-sm-2 control-label" %>
          <%= image_tag(@user.avatar.url(:mini), :class => "col-sm-1 img-responsive", :alt => "#{@user.first_name} #{@user.last_name} profile photo") %>
        <% else %> 
          <%= f.label "Upload a profile photo", nil, class: "col-sm-2 control-label" %>
        <% end %>
        <div class="col-sm-5"> 
          <%= f.file_field(:avatar, class: "form-control", placeholder: "Upload") %>
        </div>
      </div>
    	<div class="form-group">
  	    <div class="col-sm-offset-2 col-sm-6">
  	    	<%= f.submit "Update profile" , class: "btn btn-primary" %>
  	    </div>
    	</div>
  <% end %>
  <div class="col-sm-offset-2">
    <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>