<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <br/>
      <center> <a href="/users/auth/facebook"><img src="https://s3.amazonaws.com/roundview4/images/facebook-sign-up-button.png"></a></center>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <hr/>
      <h4 class="text-center">OR</h4>
      <h2 class="text-center roundview-text">Create a profile</h2>
    </div>
  </div>


  <%= form_for(:user, url: user_registration_path, :html => { multipart: true, class: "form-horizontal"}) do |f|%>
    <%= devise_error_messages! %>
  	<div class="form-group">
  		<%= f.label :first_name, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.text_field(:first_name, class: "form-control", placeholder: "First name") %>
    		</div>
    	</div>
    	<div class="form-group">
  		<%= f.label :last_name, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.text_field(:last_name, class: "form-control", placeholder: "Last name") %>
    		</div>
    	</div>

  	<div class="form-group">
  		<%= f.label :email, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.email_field(:email, class: "form-control", placeholder: "Email") %>
    		</div>
    </div>
  	<div class="form-group">
  		<%= f.label :password, nil, class: "col-sm-2 control-label" %>
  		<div class="col-sm-6"> 
    			<%= f.password_field(:password, class: "form-control", placeholder: "Password") %>

    		</div>
    </div>
    	<div class="form-group">
  		  <%= f.label "Confirm Password", nil, class: "col-sm-2 control-label" %>
  		  <div class="col-sm-6"> 
    			<%= f.password_field(:password_confirmation, class: "form-control", placeholder: "Password") %>
          <p class="help-block">Password must be at least 8 characters</p>
    		</div>
    	</div>
    	<div class="form-group">
  	    <div class="col-sm-offset-2 col-sm-6">
  	    	<%= f.submit "Sign up" , class: "btn btn-success" %>
  	    </div>
    	</div>

  <% end %>
</div>